/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Oswald);

body
{

}

.ai_mainbody
{
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	font-align: center;
	position:relative;
	top:10%;
	left:35%;
}

.ai_mainimage
{
	position:relative;
	top:10%;
	left:40%;
	content:url(https://camo.githubusercontent.com/6b6dd6c127e3a587f460b301828b2fb6c8db3849/687474703a2f2f692e696d6775722e636f6d2f4b4e51655275522e706e67);
}